.textStyle {
	padding: 2px;
	background-color: black;
	display: flex;
}

.cardWrapperStyle {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}

.cardStyle {
	max-width: 80px;
	margin: 4px;
	margin-top: 0px;
	padding: 0px;
	background-color: black;
}

.overflowStyle {
	flex: 1;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.corner {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0;
	max-width: 50%;
	max-height: 50%;
}

.iconStyle {
	width: 10px;
	height: 100%;
	flex: 1;
}

.iconContainer {
	display: flex;
}
